In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import regex as re
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')


from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('Merged_data.csv',index_col=0)
df.head()

                                          reviewText  Label
0  Very oily and creamy. Not at all what I expect...      0
1  This palette was a decent price and I was look...      0
2  The texture of this concealer pallet is fantas...      0
3  I really can't tell what exactly this thing is...      0
4  It was a little smaller than I expected, but t...      0

In [3]:
def data_cleaning(text):
    text = str(text)
    text = text.lower()    #converts everything to lowercase
    text = re.sub("http\S+",' ',text,flags=re.MULTILINE)  #replacing hyperlinks with space
    text = re.sub('[0-9]+',' ',text)
    text = re.sub("[^a-z]",' ',text) #only allowed small a-z anything apart from them will be replaced with  space
    text = re.sub("\.+",' ',text)   #Reoplace multiple dots with space
    words = text.split()    #Splits entire sentence into unique words
    imp_words = [w for w in words if w not in stop]  #Filters out important words from words
    return ' '.join(imp_words)

In [4]:
df['clean_text'] = df['reviewText'].apply(lambda x: data_cleaning(x))
df.head()

,reviewText,Label,clean_text
0,Very oily and creamy. Not at all what I expect...,0,oily creamy expected ordered try highlight con...
1,This palette was a decent price and I was look...,0,palette decent price looking different shades ...
2,The texture of this concealer pallet is fantas...,0,texture concealer pallet fantastic great cover...
3,I really can't tell what exactly this thing is...,0,really tell exactly thing powder kind oil ish ...
4,"It was a little smaller than I expected, but t...",0,little smaller expected okay lasted long time ...

In [5]:
df = df[['clean_text','Label']]
df.head()

                                          clean_text  Label
0  oily creamy expected ordered try highlight con...      0
1  palette decent price looking different shades ...      0
2  texture concealer pallet fantastic great cover...      0
3  really tell exactly thing powder kind oil ish ...      0
4  little smaller expected okay lasted long time ...      0

In [6]:
df.to_csv('Clean_data.csv')

In [7]:
df.isnull().sum()

clean_text    0
Label         0
dtype: int64